<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>@ViewData["PageTitle"]</h2>

    @{ 
        var Name = ViewData["EmployeeName"];
        var Id = ViewData["EmployeeId"];
    }

    <div>
        <ul>
            <li>Name: @Name (ID: @Id)</li>
            <li>Email: @ViewData["EmployeeEmail"]</li>
            <li>Department: @ViewData["EmployeeDepartment"]</li>
        </ul>
    </div>

</body>
</html>