@model EmployeeManagement.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>@ViewBag.PageTitle</h2>

    @{
        
    }

    <div>
        <ul>
            <li>Name: @Model.Name</li>
            <li>Email: @Model.Email</li>
        </ul>
    </div>

</body>
</html>