<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h2>@ViewBag.PageTitle</h2>

    @{
        var Employee = ViewBag.Employee as EmployeeManagement.Models.Employee;
    }

    <div>
        <ul>
            <li>Name: @Employee.Name</li>
            <li>Email: @ViewBag.Employee.Email</li>
        </ul>
    </div>

</body>
</html>