@model EmployeeManagement.ViewModels.HomeDetailsViewModel;

@{
    ViewBag.PageTitle = "Employee's Details";
}


<div>
    <ul>
        <li>Name: @Model.Employee.Name</li>
        <li>Email: @Model.Employee.Email</li>
    </ul>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}