@model IEnumerable<EmployeeManagement.Models.Employee>

@{
    ViewBag.PageTitle = "Employees List";
}

<div class="card-deck">

    @foreach (var employee in Model)
    {
        <div class="card" id="@employee.Id">
            <img src="~/images/noimage.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@employee.Name</h5>
                <p class="card-text">@employee.Department</p>
                <p class="card-text"><small class="text-muted">@employee.Email</small></p>
            </div>
        </div>
    }


</div>