<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/SiteStyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);
    }
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
