@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        @*<script src="~/lib/jquery/jquery.js"></script>*@
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />

        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    

    <link href="~/css/SiteStyleSheet.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/images/employee.png" width="30" height="30" alt="Alternate Text" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link">List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Create" class="nav-link">Create</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="Logout" class="nav-item">
                                        <button type="submit" class="nav-link btn btn-outline-info">Logout <span class="text-muted">@User.Identity.Name</span>
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                                </li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>



        <div>
            @RenderBody()
        </div>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);
    }
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>



