@{ 
    ViewBag.Title = "Not Found";
}



    <h1 class="mt-3 mb-3">@ViewBag.ErrorMessage</h1>
    <h2>PathBase: @ViewBag.ToString</h2>
    <h2>Path: @ViewBag.Path</h2>
    <h2>QueryString: @ViewBag.QueryStr</h2>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Click here to navigate to the homepage</a>
    </div>