body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    min-height: 100vh;
    width: 100vw;
}

img {
    max-width: 100%;
}

.card {
    background-color: rgba(0,0,0,.5);
    color: #ddd;
}
.card-body img{
    margin-bottom: 2rem;
}

a.btn{
    min-width: 120px;
    margin: 0.25rem;
}

.siteForm{
    padding: 2rem;
    border: 1px solid skyblue;
    border-radius: 4px;

}